/* .home-payment-container {
  @apply ;
}

.home-payment-left-section {
  @apply ;
}

.home-payment-right-section {
  @apply ;
}

.home-payment__marquee-container {
  @apply ;
}

.home-payment__marquee-content {
  @apply ;
} */
