/* .gradient-background {
  @apply bg-radial-[at_15%_95%] from-medium-gradient-light/90 via-light-gradient-light/50 to-background-light/20 to-90% dark:from-light-gradient-dark/40 dark:via-medium-gradient-dark/50 dark:to-background-dark/20;
} */

/* .home-hero-container {
  @apply ;
} */

/* .home-hero-left-section {
  @apply ;
} */

/* .home-hero-title {
  @apply;
}

.home-hero-caption {
  @apply;
}

.home-hero-btn-list {
  @apply;
}

.home-hero-explore-btn {
  @apply;
}

.home-hero-github-btn {
  @apply;
}

.github-icon-external-link {
  @apply;
}

.home-hero-tag-list {
  @apply;
}

.home-hero-right-section {
  @apply;
} */

/* .home-hero-caption {
  @apply absolute w-2/4;
}

.home-hero-background {
  @apply flex w-full flex-row flex-wrap items-end justify-between;
} */
