.gradient-background-stats {
  @apply bg-radial-[at_15%_95%] from-medium-gradient-light/90 via-light-gradient-light/50 to-background-light/20 to-90% dark:from-light-gradient-dark/20 dark:via-medium-gradient-dark/30 dark:to-background-dark/0;
}

.home-stats-container {
  @apply relative my-8 flex w-full flex-row flex-wrap items-center justify-center;
}

.home-stats-left-section {
  @apply flex flex-col gap-8 p-8 lg:basis-1/3;
}

.home-stats-right-section {
  @apply relative flex w-full gap-4 lg:basis-2/3;
}
