@keyframes show-dropdown-sequence {
  0% {
    transform: translateY(0px) scale(90%);
    opacity: 0;
    visibility: hidden;
  }
  100% {
    transform: translateY(65px) scale(100%);
    opacity: 1;
    visibility: visible;
  }
}

@keyframes hide-dropdown-sequence {
  0% {
    transform: translateY(65px) scale(100%); /* Start from shown position */
    opacity: 1;
    visibility: visible;
  }
  50% {
    transform: translateY(84px) scale(100%); /* Go down first */
    opacity: 1;
    visibility: visible;
  }
  100% {
    transform: translateY(0px) scale(90%); /* Then hide up */
    opacity: 0;
    visibility: hidden;
  }
}
